.Logo {
  background-color: white;
  padding: 8px;
  margin-top: 5px;
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

.Logo img {
  height: 100%;
}

.Logo h1 {
  position: absolute;
  color: white;
  margin: 0;
  padding: 0;
  top: 12px;
  left: 95px;
  font-size: 1.8em;
}

@media (max-width: 500px) {
  .Logo h1 {
    left: 70px;
  }
}
